<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seminar Manager</title>
    <base href="http://localhost:2927/" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="container body-content">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!course">Seminar Manager</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!course/create"><span class="glyphicon glyphicon-folder-close"></span> Create Course</a></li>
            </ul>
        </div>
    </nav>

    @RenderBody()
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", false)
</body>
</html>
